.DS_Store
AdminLTE-3.0.5/*
user_guide/*
slick-1.8.1/*
Rimis's Creations checkout_files/*
rimi's images/*
rimi3/*

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
link.txt
userandrole.sql
slick-1.8.1.zip
rimiscreation06082020.rar
rimiscreation.sql
rimiscreation.rar
rimiscdb_from_server_with_opencart_data.sql
Rimis's Creations checkout.html
rimi3.zip
remiscreations17082020.sql
remiscreations14082020.sql
remiscreations12082020.sql
remiscreations06082020.sql
Picture details.pdf
Picture details 2.pdf
menupermissions.sql
